<div class="container-fluid conv-container">
    <div class="conv-bloc-left">    
        <div class="ui list">
            
            <div class="item ">
            <table class="table table-borderless table-hover message-table ">
            <tr>
                
                <th scope="col"> Conversation avec</th>
                <th scope="col"> Dernier message à</th>


            </tr>
        <tr>
            <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id ||      conversation.receiver_id == current_user.id %>
                <% if conversation.sender_id == current_user.id %>
                <% receiver = User.find(conversation.receiver_id) %>
                <% else %>
                <% receiver = User.find(conversation.sender_id) %>
                <% end %>
                <td><%= link_to receiver.username,   conversation_messages_path(conversation)%></td>
                <td><%= conversation.messages.last.created_at%></td>

            <tr>
            <% end %>
            <% end %>
        </div>
        </table>
        <%= paginate @conversations %>

        </div>
        </div>
    </div>

    <div class="conv-bloc-right">  
        <div class="ui segment">
        <h3>All Users</h3>
        <div class="ui list">
            <input type="text" id="searchbar" onkeyup="myFunction()" placeholder="Search for names..">
        <table class="table usertable table-borderless table-hover">
                <tr class="header">
                
                    <tr>
                        
                        <th scope="col"> Envie de discuter ?</th>
                        


                    </tr>
                <tr>
            <% @users.each do |user| %>
                <% if user.id != current_user.id %>
                <div class=”item”>
                <tr>
            <td><%= user.username %> <%= link_to "Message me!", conversations_path(sender_id: current_user.id, receiver_id: user.id), method: "post", class:"btn btn-sm btn-outline-warning"%></td>
                </tr>
            </div>
            <% end %>
            <% end %>
            </div>
            </div>
            </tr>
       </table>
    </div>
</div>


<script>
function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("searchbar");
    filter = input.value.toUpperCase();
    table = document.getElementsByClassName("usertable")[0];
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
