
<div class="container-fluid mt-4">

  <div class="row">
  </div><!-- row -->

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="container-fluid">

        <table class="table table-hover table-dark col-md-3 col-sm-6 my-5">
          <thead class="bg-success">
            <td class="text-center">
              Objectif
            </td>
            <td class="text-center">
              Réalisé ?
            </td>
          </thead>

          <tbody>
            <% index = 0 %>
            <%@challenge.subgoals.each do |sub| %>

            <tr>
              <td><%= sub.subgoal_string%></td>
              <td>
                <ul>
                  <% sub.targets.each do |tar| %>
                    <li>Objectif de
                      <%=tar[:value]%>
                      <%=Unit.find(tar[:unit_id]).unit_name%>

                      <%if @stats[:subgoals_bests][index] != nil%>
                        vs réalisé :<strong>

                          <%if @stats[:subgoals_bests][index][:best][Unit.find(tar[:unit_id]).unit_name.to_sym][0].to_i >= tar[:value]%>
                            <span style="color:chartreuse">
                              <%= @stats[:subgoals_bests][index][:best][Unit.find(tar[:unit_id]).unit_name.to_sym][0]%>
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                          <%else%>
                              <%= @stats[:subgoals_bests][index][:best][Unit.find(tar[:unit_id]).unit_name.to_sym][0]%>
                          <%end%>

                        </strong>
                      <%else%>
                        <em>mais pas encore réalisé</em>
                      <%end%>

                    <%end%>
                  </ul>
                </td>
              </tr>
              <% index += 1 %>
              <%end%>
            </tbody>
          </table>
        </div><!-- container -->
      </div><!-- col -->
    </div><!-- row -->
  </div>
