<div class="container m-3">

  <nav class="navbar navbar-expand-lg bg-dark p-1">
  <a class="navbar-brand text-white small font-weight-bold text-uppercase" id="challenge_title" href="#"><%= @challenge[:goal] %> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div id="btn-bilan" class="nav-link">Aperçu du challenge <span class="sr-only">(current)</span></div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="objectifs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Objectifs
          </a>
          <div class="dropdown-menu" id="subgoallist" aria-labelledby="navbarDropdown">
              <% @challenge.subgoals.each do |sub| %>
                  <div class="dropdown-item drop-subgoal" id=sub.id ><%= sub.subgoal_string %></div>
                  <div class="dropdown-divider"></div>
              <% end %>
          </div>
        </li>
        <li class="nav-item">
          <div id="btn-graph-global" class="nav-link">Graph</div>
        </li>
        <li class="nav-item">
          <div id="btn-form-result" class="nav-link">Mettre à jour mes résultats</div>
        </li>

      </ul>
    </div>
  </nav>

  <div class="dashboard_div" id="graph">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h4 class="h5">Mes résultats</h4>
      <div class="btn-toolbar mt-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="DropdownMenuTime">
            <i class='fa fa-dot-circle-o' style='font-size:12px'></i>
            Indicateurs
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdrown-item">
            <div class="dropdown-divider"></div>
            <%@challenge.units.each do |unit|%>
              <a class="dropdown-item" href="/unitboard/<%=unit.id%>/<%=@challenge.id%>"><%=unit.unit_name%></a>
            <%end%>
          </div>
          <!-- dropdown menu -->
        </div>
        <!-- btn-group -->

      </div>
      <!-- btn toolbar -->
    </div>
    <!-- d-flex -->
    <div class="graph_dynamic">
      <%= render 'partials/dash_graph2'  %>
    </div>
  </div>

  <div class="dashboard_div" id="summary">
      <%= render 'partials/dash_challenge_summary' %>
  </div>

  <div class="dashboard_div" id="resultform">
      <%= render 'partials/dash_form_bests' %>
  </div>

  </div>
