<div class="container-fluid" >
<%= form_for @challenge do |f| %>
    <div class="form-group row">
        <%= f.label 'Challenge',class:"col-sm-2 col-form-label" %>
        <%= f.text_field :goal,class:"form-control col-sm-10" %>
    </div>


    <div class="form-group row">
        <%= f.label 'Date limite',class:"col-sm-2 col-form-label" %>
        <%= f.date_field :deadline ,class:"form-control col-sm-10" %>
    </div>

    <div class="form-group row">
        <%= f.label :image,"Image",class:"col-sm-2 col-form-label " %>
    
        <label class="btn btn-sm btn-primary">
           Ajouter une image
            <span style="display:none;">
                <%= f.file_field :image, id: "fileUploader"%>
            </span>
        </label>
    </div>


    <%= f.nested_fields_for "subgoals" do |subs| %>
        <br/>


        <%= render 'challenges/subgoal_form', f: subs %>
            <br>

            <% end %>

                <div class="btn">
                    <%= f.add_nested_fields_link :subgoals do %>
                        <span class="glyphicon glyphicon-plus btn btn-sm btn-primary">Ajouter un objectif</span>
                        <% end %>
                </div>

                <br>
                <div class="row">
                    <%= f.submit "Créer votre challenge", class:"btn btn-primary btn-success col-sm-12" %>
                </div>


 <%end %>
 </div>

                



                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
        
