<div class="container-fluid mt-5">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Mon compte <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Mes stats <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Mes challenges</span>
            </h6>
            <ul class="nav flex-column mb-2">
            	<% current_user.attended_challenges.each do |chal| %>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  <%= chal.goal %>
                </a>
              </li>
               	<% end %>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Partager</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Semaine
              </button>
            </div>
          </div>


              <% @challenges.each do |chal| %>


                <%= pie_chart chal.subgoals.group(:accomplished).count %>

              <% end %>

              

<!--          <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->

          <h2>Mes stats</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Objectif</th>
                  <th>Réalisé</th>
                  <th>Date réalisé</th>
                </tr>
              </thead>
              <tbody>
                <% unless current_user.attended_challenges == [] %>
                	<% current_user.attended_challenges.first.subgoals do |sub| %>
                  <tr>
                    <td><%= sub.subgoal_string %></td>
                    <td><%= sub.accomplished? "fait" ; "à faire" %></td>
                    <td><%= current_user.participations.find_by_challenge_id(current_user.attended_challenges.first.id).stats[:subgoal[sub]] %></td>                  
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Goal 1", "Goal 2", "Goal 3", "Goal 4"],
          datasets: [{
            data: [2, 3, 3, 4],
            lineTension: 0,
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
