<div class="form-group row">
 <%= f.label :subgoal_string, "Sous-objectif", class:"col-sm-2 col-form-label"%>
 <%= f.text_field :subgoal_string, class:"form-control col-sm-10" %>
</div>

  <%= f.nested_fields_for "targets" do |target| %>
    <%= render  "partials/target_form", f:target %>
  <% end %>

  <div class="btn">
      <%= f.add_nested_fields_link :targets do %>
        <span class="glyphicon glyphicon-plus btn btn-sm btn-info">Ajouter une cible</span>
      <% end %>
  </div>

<div class="form-group row">
 <%= f.label :deadline, "Date limite du sous-objectif", class:"col-sm-2 col-form-label" %>
 <%= f.date_field :deadline, class:"form-control col-sm-10" %>
</div>

<div class="form-group row">
 <%= f.label :description,"Description" ,class:"col-sm-2 col-form-label"%>
 <%= f.text_area :description, class:"form-control col-sm-10" %>
</div>

 <%= f.remove_nested_fields_link "Supprimer l'objectif", class: 'btn btn-sm btn-danger pull-right', role: 'button' %>
<br>
