<div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 mt-5">
        <h1 class="display-3">Challenge yourself !</h1>
        <p class="lead">ChallengR t'aide à franchir le pas</p>

        <% if user_signed_in? %>
             <%= link_to "Je crée mon challenge", new_challenge_path, class:'btn btn-success btn-sm'%>
        <% else %>
        	 <%= link_to "Connecte-toi", new_user_session_path, class:'btn btn-success btn-sm'%>
        	 <%= link_to "Pas encore inscrit ? Enregistre-toi", new_user_registration_path, class:'btn btn-info btn-sm'%>
        <% end %>
      </header>
                
      <!-- Page Features -->

    <div class="row">
        
        <% @challenges.each do |chal| %>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                          <% if chal.image_url == nil %>
                            <%= image_tag "tomatoe800.jpg", height:"400", class:"card-img-top img-fluid" %>
                              <% else %>
              <%= image_tag(chal.image_url, class:"card-img-top") %>
            <%end%>
              <div class="card-body">
                <h5 class="card-title"><%= chal.goal %></h5>
                <p><span class="badge badge-pill badge-primary"><%= chal.attendees.size %></span> participants</p>
                <p class="font-italic">Description du challenge</p>
                <p>Organisé par <span class="badge badge-pill badge-secondary"><%= chal.organizer.username %></span></p>

              </div>
              <div class="card-footer">
                <% chal.categories.each do |cat| %>
                  <span class="badge badge-pill badge-danger"><%= cat.category_name %></span> 
                <% end %>
              </div>
              <div class="card-footer">
                <%= link_to "En savoir plus", challenge_path(chal), class:"btn btn-primary" %>
              </div>
            </div>
          </div>

        <% end %>

    </div><!-- /.row -->
</div> <!-- /.container -->